<!--#hbs4    = uso de una extension q trae el form de html  -->
     <!-- -->
    <!-- b- table header     = bootstrap  saca las etiquetas de interfaz-->

    {% include 'header.html' %}

    <br/>
     <!--class btn btn sucess es de la clase -->
    <a href="{{ url_for('create') }}" class="btn btn-success">
    
        Ingresar nuevo empleados
    </a> 
    <br>
    <br>




    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- el motor jinja 2 me ayuda a usar jfor-->
            <!--  jfor me permite interactuar con un motor y me permite recuperar informacion q quiero usar -->
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td> 

                <td>
                    <image class="img-thumbnail" width="100" src="/uploads/{{empleado[3]}}" alt=""></image>
                </td>

                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td><a class="btn btn-warning" href="/edit/{{empleado[0]}}">Editar</a> | 
                    <a onclick="return confirm('Desea borrar el registros')" class="btn btn-danger" href="/destroy/{{empleado[0]}}">Eliminar</a>
                    </td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
   

{% include 'footer.html' %}
